@model Tuple<SMARTV3.Models.DataCard, SMARTV3.Models.DataCardPETS>

@using Microsoft.AspNetCore.Mvc.Localization
@using SMARTV3.Helpers
@using System.Globalization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool? UserCanEdit = ViewData["UserCanEdit"] as bool?;
    CultureHelper cultureHelper = new CultureHelper();
    string lang = cultureHelper.GetCurrentCulture();
}

<div id="classificationBanner" class="secretbannerdiv">
    @if (Model.Item1.NatoActive == false && Model.Item1.NFMActive == false)
    {
        @localizer["SecretFiveEyesOnly"]
    }
    else
    {
        @localizer["SecretRelNATO"]
    }
</div>

<head>
    <link rel="stylesheet" href="~/css/Datacard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InputValidation.css" asp-append-version="true" />
</head>

<br />
<br />
<h3>@localizer["DataCardDetails"]</h3>
<br />
<div class="row">
    <div class="col">
        @if (UserCanEdit != null && UserCanEdit == true)
        {
            <a asp-action="Edit"
               asp-route-id="@Model?.Item1.Id"
               asp-route-sortOrder="@ViewData["sortOrder"]"
               asp-route-pageNumber="@ViewData["pageNumber"]"
               asp-route-selectedPageSize="@ViewData["selectedPageSize"]"
               asp-route-selectedOrganization="@ViewData["selectedOrganization"]"
               asp-route-selectedConPlan="@ViewData["selectedConPlan"]"
               asp-route-selectedOperation="@ViewData["selectedOperation"]"
               asp-route-selectedNato="@ViewData["selectedNato"]"
               asp-route-selectedStatus="@ViewData["selectedStatus"]"
               asp-route-selectedOverallStatus="@ViewData["selectedOverallStatus"]">
                @localizer["Edit"]
            </a> <label>|</label>
        }
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           asp-route-pageNumber="@ViewData["pageNumber"]"
           asp-route-selectedPageSize="@ViewData["selectedPageSize"]"
           asp-route-selectedOrganization="@ViewData["selectedOrganization"]"
           asp-route-selectedConPlan="@ViewData["selectedConPlan"]"
           asp-route-selectedOperation="@ViewData["selectedOperation"]"
           asp-route-selectedNato="@ViewData["selectedNato"]"
           asp-route-selectedStatus="@ViewData["selectedStatus"]"
           asp-route-selectedOverallStatus="@ViewData["selectedOverallStatus"]">
            @localizer["BackToList"]
        </a>
    </div>
    <div class="col"></div>
    <div class="col">
        <button type="button" onclick="showModal(@Model.Item1.Id, 'Readiness')" class="btn btn-sm btn-secondary" style="float: right;">
            @localizer["AlertsBasedOnReadiness"]
        </button>
    </div>
    <div class="col">
        <button type="button" onclick="showModal(@Model.Item1.Id, 'Change')" class="btn btn-sm btn-secondary" style="float: right;">
            @localizer["AlertsForChanges"]
        </button>
    </div>
</div>
<br />
<div>
    <h5>@localizer["ForceElementDataCard"]</h5>
    <hr />
    <br />
    @if (Model!.Item1.DataCardComplete == false)
    {
        <div style="color: red;font-weight: bold;">@localizer["Incomplete"]</div>
    }
    else
    {
        <div style="color: green;font-weight: bold;">@localizer["Complete"]</div>
    }
    <br />
    <div class="row">
        <div class="col"><b>@localizer["FElmID"] </b></>@Html.DisplayFor(model => model.Item1.ForceElement!.ElementId)</div>
        <div class="col">
            <b>@localizer["FElmName"] </b>
            @if (lang == "en")
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.ElementName)
            }
            else
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.ElementNameFre)
            }
        </div>
        <div class="col">
            <b>@localizer["Shortname"]</b>
            @if (lang == "en")
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.Shortname)
            }
            else
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.ShortnameFR)
            }
        </div>
        
        
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["OrganizationName"] </b>
            @if (lang == "en")
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.Organization.OrganizationName)
            }
            else
            {
                @Html.DisplayFor(model => model.Item1.ForceElement!.Organization.OrganizationNameFre)
            }
        </div>
        <div class="col"><b>@localizer["DivFrm"] </b>@Html.DisplayFor(model => model.Item1.Division)</div>
        <div class="col"><b>@localizer["BdeFltWg"] </b>@Html.DisplayFor(model => model.Item1.Brigade)</div>
        
    </div><br />

    <div class="row">
        <div class="col"><b>@localizer["ParentUnit"] </b>@Html.DisplayFor(model => model.Item1.Unit)</div>
        <div class="col"><b>@localizer["SubUnitName"] </b>@Html.DisplayFor(model => model.Item1.Subunit)</div>
        <div class="col">
            <b>@localizer["Weighting"] </b>
            <label>@Model.Item1.ForceElement?.Weighting?.WeightValue?.ToString("##0.##", CultureInfo.InvariantCulture)</label>
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["HighReadinessFrom"] </b>
            <label>
                @if (Model.Item1.ReadinessFromDate != null)
                {
                    Model.Item1.ReadinessFromDate.Value.ToString("yyyy-MM-dd");
                }
            </label>
        </div>
        <div class="col">
            <b>@localizer["HighReadinessTo"] </b>
            <label>
                @if (Model.Item1.ReadinessToDate != null)
                {
                    Model.Item1.ReadinessToDate.Value.ToString("yyyy-MM-dd");
                }
            </label>
        </div>
    </div><br />
    <div class="row">
        <div class= "col">
            <b>@localizer["ForceElementDescription"] </b>@Html.DisplayFor(model => model.Item1.ForceElementDesc)
        </div>
    </div><br />
    <div class="row">
        <div class="col"><b>@localizer["PeacetimeLocationName"] </b>@Html.DisplayFor(model => model.Item1.NatoLocation)</div>
        <div class="col"><b>@localizer["PeacetimeLocationCoordinates"] </b>@Html.DisplayFor(model => model.Item1.NatoCoordinates)</div>
    </div><br />
    <div class="row">
        <div class="col">
            <span style="font-weight:bold">@localizer["NoticeToMove"]</span>
            @if (lang == "en")
            {
                @Html.DisplayFor(model => model.Item1.NoticeToMove!.NoticeToMoveName)
            }
            else
            {
                @Html.DisplayFor(model => model.Item1.NoticeToMove!.NoticeToMoveNameFre)
            }
        </div>
        <div class="col">
            
                <span style="font-weight:bold">@localizer["NTMDetails"]</span>
                @Html.DisplayFor(model => model.Item1.Ntmdetails)
            
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["ForceEmploymentStatus"] </b>
            <div class="rounddiv" style="background-color:@Model.Item1.DeployedStatus?.StatusDisplayColour; text-align:left"> </div>
        </div>
        <div class="col">
            <b>@localizer["CONPLANs"] </b><br />
            @foreach (var item in Model.Item1.Conplans)
            {
                <label>@item.ConplanName</label>
                <br />
            }
        </div>
        <div class="col">
            <b>@localizer["Operations"] </b><br />
            @foreach (var item in Model.Item1.Operations)
            {
                <label> @item.OperationName</label>
                <br />
            }
        </div>
        <div class="col"><b>@localizer["eNRFNRI"] </b>@Html.DisplayFor(model => model.Item1.NatoActive)</div>
        <div class="col"><b>@localizer["NFM"] </b>@Html.DisplayFor(model => model.Item1.NFMActive)</div>
        <div hidden class="col"><b>@localizer["FwdToNato"] </b>@Html.DisplayFor(model => model.Item1.FwdNato)</div>
        <div class="col"><b>@localizer["RDS"] </b>@Html.DisplayFor(model => model.Item1.Rds)</div>
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["ConcurrencyDetails"] </b>@Html.DisplayFor(model => model.Item1.Concurrency)
        </div>
        <div class="col">
            <b>@localizer["ConcurrencyComments"] </b>
            @if (Model.Item1.ConcurrencyComments != null & Model.Item1.ConcurrencyComments != "")
            {
                @Html.DisplayFor(model => model.Item1.ConcurrencyComments)
            }
            else
            {
                <label>@localizer["NA"]</label>
            }
        </div>
    </div><br /><br />
    <h5>@localizer["ReadinessStatus"]</h5>
    <hr />
    <div class="row">
        <div class="col">
            <b>@localizer["SMaRTReadinessStatus"] </b>
            <div class="rounddiv" style="background-color:@Model.Item1.SrStatus?.StatusDisplayColour; text-align:left"> </div>
        </div>
        <div class="col">
            <b>@localizer["CommandOverrideReadinessStatus"] </b>
            @if (Model.Item1.CommandOverrideStatus != null)
            {
                <div class="rounddiv" style="background-color:@Model.Item1.CommandOverrideStatus.StatusDisplayColour; text-align:left"></div>
            }
            else
            {
                <div class="rounddiv"></div>
            }
        </div>
        <div class="col">
            <b>@localizer["ValidityDTG"] </b>
            @if (DateTime.Compare(Model.Item1.Validitydate.AddDays(30), DateTime.Now) > 0)
            {
                <span>@(Model.Item1.Validitydate.ToString("yyyy-MM-dd"))</span>
            }
            else
            {
                <span style="font-weight:bold">
                    <font color="red">
                        @(Model.Item1.Validitydate.ToString("yyyy-MM-dd"))
                    </font>
                </span>
            }
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["CommandOverrideReadinessStatusRemarks"] </b>
            @if (!String.IsNullOrEmpty(Model.Item1.CommandOverrideComments))
            {
                @Html.DisplayFor(model => model.Item1.CommandOverrideComments)
            }
            else
            {
                @localizer["NA"]
            }
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <b>@localizer["CommandOverrideReadinessAuthority"] </b>
            @if (Model.Item1.CommandOverrideAuthority != null & Model.Item1.CommandOverrideAuthority != "")
            {
                @Html.DisplayFor(model => model.Item1.CommandOverrideAuthority)
            }
            else
            {
                @localizer["NA"]
            }
        </div>
    </div>
    <br /> <br />
    @if (Model.Item1.NatoActive == true || Model.Item1.NFMActive == true)
    {
        @if (Model.Item1.NatoActive == true)
        {
            <h5>@localizer["eNRFNRINATOReadinessReportingInformation"]</h5>
        }
        else{
            <h5>@localizer["NFMReadinessReportingInformation"]</h5>
        }
        <hr />
        <h5>@localizer["Unit"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["FunctionalCategory"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Category!.CategoryName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Category!.CategoryNameFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["NATODesignation"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Designation!.DesignationName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Designation!.DesignationNameFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["AssetsDeclared"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoAssetsDeclared)
                </div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["Service"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Service!.ServiceName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Service!.ServiceNameFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["Echelon"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Echelon!.EchelonName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Echelon!.EchelonNameFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["CapabilityCode"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Capability!.CapabilityName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Capability!.CapabilityNameFre)
                    }
                </div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["RequirementName"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoRequirementName)
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["NationalName"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoNationalName)
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["MajorEquipmentRemarks"]</span>
                    @if (Model.Item1.NatoMajorEquipmentComments != null & Model.Item1.NatoMajorEquipmentComments != "")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoMajorEquipmentComments)
                    }
                    else
                    {
                        @localizer["NA"]
                    }
                </div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["Caveats"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoCavets)
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
        <br />
        <h5>@localizer["Readiness"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["NoticeToEffect"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoNoticeToEffect)
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["FPH"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoFphyesNoBlankNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoFphyesNoBlankNavigation!.ValueFre)
                    }
                </div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["GeneralRemarks"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoGeneralComments)
                </div>
            </div>
        </div>
        <br />
        <h5>@localizer["Training"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["AFSTraining"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoAfstrainingPercentageNavigation!.StatusDisplayValue)
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["EvalCompleted"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoEvalCompletedNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoEvalCompletedNavigation!.ValueFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["PlannedEvalDate"]</span>
                    <label>
                        @if (Model.Item1.NatoPlannedEvalDate != null)
                        {
                            Model.Item1.NatoPlannedEvalDate.Value.ToString("yyyy-MM-dd");
                        }
                    </label>
                </div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["CertProgramCoord"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoCertProgramCoordNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoCertProgramCoordNavigation!.ValueFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["CertCompleted"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoCertCompletedNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoCertCompletedNavigation!.ValueFre)
                    }
                </div>
                <div class="col"></div>
            </div>
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["NationalTrainingRemarks"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoNationalTrainingRemarks)
                </div>
            </div>
        </div>

        <br />
        <h5>@localizer["Projection"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col-3">
                    <span style="font-weight:bold">@localizer["StratLiftCapacity"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoStratLiftCapacityNavigation!.StratLiftCapacityName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoStratLiftCapacityNavigation!.StratLiftCapacityNameFre)
                    }
                </div>
                <div class="col-9">
                    <span style="font-weight:bold">@localizer["StratLiftCapacityRemarks"]</span>
                    @if (Model.Item1.NatoStratLiftCapacityComments != null & Model.Item1.NatoStratLiftCapacityComments != "")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoStratLiftCapacityComments)
                    }
                    else
                    {
                        @localizer["NA"]
                    }
                </div>
            </div>
            <div class="row nato-row">
                <div class="col-3">
                    <span style="font-weight:bold">@localizer["NationalDeploy"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoNationalDeployNavigation!.NationalDeployName)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.NatoNationalDeployNavigation!.NationalDeployNameFre)
                    }
                </div>
                <div class="col-9">
                    <span style="font-weight:bold">@localizer["NationalDeployRemarks"]</span>
                    @if (Model.Item1.NatoNationalDeployComments != null & Model.Item1.NatoNationalDeployComments != "")
                    {
                        @Html.DisplayFor(model => model.Item1.NatoNationalDeployComments)
                    }
                    else
                    {
                        @localizer["NA"]
                    }
                </div>
            </div>
        </div>
        <br />
        <h5>@localizer["Sustainability"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["12Sdos"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Nato12SdosNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Nato12SdosNavigation!.ValueFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["18Sdos"]</span>
                    @if (lang == "en")
                    {
                        @Html.DisplayFor(model => model.Item1.Nato18SdosNavigation!.Value)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Item1.Nato18SdosNavigation!.ValueFre)
                    }
                </div>
                <div class="col">
                    <span style="font-weight:bold">@localizer["CurrentSdos"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoCurrentSdos)
                </div>
                <div class="row nato-row">
                    <div class="col">
                        <span style="font-weight:bold">@localizer["NationalSupplyPlan"]</span>
                        @if (lang == "en")
                        {
                            @Html.DisplayFor(model => model.Item1.NatoNatSupplyPlanNavigation!.Value)
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.NatoNatSupplyPlanNavigation!.ValueFre)
                        }
                    </div>
                    <div class="col">
                        <span style="font-weight:bold">@localizer["NationalSupportElements"]</span>
                        @if (lang == "en")
                        {
                            @Html.DisplayFor(model => model.Item1.NatoNatSupportElemNavigation!.Value)
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.NatoNatSupportElemNavigation!.ValueFre)
                        }
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        <br />
        <h5>@localizer["CombatEffectivenessAssessment"]</h5>
        <div class="nato-grouping">
            <div class="row nato-row">
                <div class="col">
                    <span style="font-weight:bold">@localizer["NationalAssessmentRemarks"]</span>
                    @Html.DisplayFor(model => model.Item1.NatoNationalAssesmentComments)
                </div>
            </div>
        </div>
    }
    <br /><br />
    <table style="width: 100%;">
        <tr>
            <td valign="top" class="pets-quarter">
                <table cellpadding="5">
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <h5>@localizer["Personnel"]</h5>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3" align="center">
                            <span style="font-weight:bold">@localizer["PersonnelStatus"]</span> &nbsp;
                            <div class="rounddiv" style="background-color:@Model.Item2.PersonnelStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["DesignatedStrengthDeclared"]</span> &nbsp;
                            @Html.DisplayFor(model => model.Item2.PersonnelDesignatedStrength)
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["ActualStrengthCurrent"]</span> &nbsp;
                            @Html.DisplayFor(model => model.Item2.PersonnelActualStrength)
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <h6>@localizer["FactorsNegativelyAffectingPersonnelReadiness"]</h6>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelLOB)&nbsp;<span style="font-weight:bold">@localizer["LOB"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelAPS)&nbsp;<span style="font-weight:bold">@localizer["APS"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelIT)&nbsp;<span style="font-weight:bold">@localizer["IT"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelMedical)&nbsp;<span style="font-weight:bold">@localizer["Medical"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelLightDuties)&nbsp;<span style="font-weight:bold">@localizer["LtDuties"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelTradeInsufficienciesReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["TradeInsufficiencies"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelDental)&nbsp;<span style="font-weight:bold">@localizer["Dental"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.PersonnelFitness)&nbsp;<span style="font-weight:bold">@localizer["Fitness"]</span>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr style="height:80px">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["PersonnelReadinessStatusRemarks"]</span> &nbsp;
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        @if (Model.Item2.PersonnelComments != null & Model.Item2.PersonnelComments != "")
                        {
                            <td colspan="3">
                                <p style="width: 30rem;">@Html.DisplayFor(model => model.Item2.PersonnelComments)</p>
                            </td>
                        }
                        else
                        {
                            <td colspan="3">@localizer["NA"]</td>
                        }
                    </tr>
                </table>
            </td>
            <td valign="top" class="pets-quarter">
                <table cellpadding="5">
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <h5>@localizer["Training"]</h5>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3" align="center">
                            <span style="font-weight:bold">@localizer["TrainingStatus"]</span> &nbsp;
                            <div class="rounddiv" style="background-color:@Model.Item2.TrainingStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["CollectiveTraining"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.TrainingCollectiveTrainingStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["IndividualTraining"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.TrainingIndividualTrainingStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["CREVALOPREDDeclaration"]</span> &nbsp;
                            @if (lang == "en")
                            {
                                @Html.DisplayFor(model => model.Item2.TrainingCREVALNavigation!.CrevalName)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Item2.TrainingCREVALNavigation!.CrevalNameFre)
                            }
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["ProjectedCREVALOPREDDeclarationDate"]</span> &nbsp;
                            <label>
                                @if (Model.Item2.TrainingProjectedCREVALDate != null)
                                {
                                    Model.Item2.TrainingProjectedCREVALDate.Value.ToString("yyyy-MM-dd");
                                }
                            </label>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["CREVALDate"]</span> &nbsp;
                            <label>
                                @if (Model.Item2.TrainingCREVALDate != null)
                                {
                                    Model.Item2.TrainingCREVALDate.Value.ToString("yyyy-MM-dd");
                                }
                            </label>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["SpecialtySkills"]</span> &nbsp;
                            @if (lang == "en")
                            {
                                @Html.DisplayFor(model => model.Item2.TrainingSpecialtySkills!.SpecialtySkillName)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Item2.TrainingSpecialtySkills!.SpecialtySkillNameFre)
                            }
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <h6>@localizer["FactorsNegativelyAffectingTrainingReadiness"]</h6>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingAmmoReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Ammo"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingWeaponsReadinessFactor) &nbsp;<span style="font-weight:bold">@localizer["Weapons"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingSparePartssReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["SpParts"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingFuelReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Fuel"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingRadiosReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Radios"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingITReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["IT1"] </span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingRationsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Rations"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingEquipmentReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Equipment"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingRangeAvailabilityReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["RangeAvailability"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingCTReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["CT"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingSpecialQuals)&nbsp;<span style="font-weight:bold">@localizer["SpecialQuals"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.TrainingTrgFleets)&nbsp;<span style="font-weight:bold">@localizer["TrgFleetsEqptSets"]</span>
                        </td>
                    </tr>
                    <tr style="height:80px">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["TrainingReadinessStatusRemarks"]</span> &nbsp;
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        @if (Model.Item2.TrainingComments != null & Model.Item2.TrainingComments != "")
                        {
                            <td colspan="3">
                                <p style="width: 30rem;">@Html.DisplayFor(model => model.Item2.TrainingComments)</p>
                            </td>
                        }
                        else
                        {
                            <td colspan="3">@localizer["NA"]</td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" class="pets-quarter">
                <table cellpadding="5">
                    <tr>
                        <td colspan="3">
                            <h5>@localizer["Equipment"]</h5>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3" align="center">
                            <span style="font-weight:bold"> @localizer["EquipmentStatus"]</span> &nbsp;
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentStatus!.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["CombatVehicleVesselAircraftServiceabilityRate"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentCombatVehicleStatus!.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["SupportVehicleVesselAircraftServiceabilityRate"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentSupportVehicleStatus!.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["WeaponsServiceabilityRate"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentWeaponsServiceRateStatus!.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["CommunicationsEquipmentServiceabilityRate"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentCommunicationsEquipmentStatus!.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["SpecializedEquipmentServiceabilityRate"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.EquipmentSpecialEquipmentStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <h6>@localizer["FactorsNegativelyAffectingEquipmentReadiness"]</h6>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentVehicalsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Vehicles"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentSpecialEquimentReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["SpEquipment"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentWeaponsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Weapons1"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentTechniciansReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Technicians"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentCommunicationsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Communications"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentSensorsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Sensors"]</span>
                            </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentLifeEntensionDelays)&nbsp;<span style="font-weight:bold">@localizer["LifeExtensionDelays"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentProtectionSuites)&nbsp;<span style="font-weight:bold">@localizer["ProtectionSuites"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.EquipmentOther)&nbsp;<span style="font-weight:bold">@localizer["Other"]</span>
                        </td>
                    </tr>
                    <tr style="height:80px">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["EquipmentReadinessStatusRemarks"]</span> &nbsp;
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            @if (!String.IsNullOrEmpty(Model.Item2.EquipmentComments))
                            {
                                <p style="width: 30rem;">@Html.DisplayFor(model => model.Item2.EquipmentComments)</p>
                            }
                            else
                            {
                                @localizer["NA"]
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top" class="pets-quarter">
                <table cellpadding="5">
                    <tr>
                        <td colspan="3">
                            <h5>@localizer["Sustainment"]</h5>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3" align="center">
                            <span style="font-weight:bold">@localizer["SustainmentStatus"]</span> &nbsp;
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class1CombatRations"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentCombatRationsStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class2Personalequipmentanduniforms"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentPersonalEquipmentStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class3PetroleumOilsLubricants"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentPetrolStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class5Ammunition"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentAmmunitionStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class7SpareParts"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentSparesStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="2">
                            <span style="font-weight:bold">@localizer["Class8MedSupplies"]</span> &nbsp;
                        </td>
                        <td>
                            <div class="rounddiv" style="background-color:@Model.Item2.SustainmentOtherStatus?.StatusDisplayColour; text-align:left"></div>
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        <td colspan="3">
                            <h6>@localizer["FactorsNegativelyAffectingSustainmentReadiness"]</h6>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentRationsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["LowInventoryStock"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentFuelReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Fuel"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentUniformsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["InsufficientStorageFacilities"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentAmmunitionReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["InsufficientLift"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentPPEReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["PPE"]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentSparePartsReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["IndustryDelays"]</span>
                        </td>
                    </tr>
                    <tr style="height:30px; vertical-align:top">
                        <td>
                            @Html.DisplayFor(model => model.Item2.SustainmentOtherReadinessFactor)&nbsp;<span style="font-weight:bold">@localizer["Other"]</span>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="height:80px">
                        <td colspan="3">
                            <span style="font-weight:bold">@localizer["SustainmentReadinessStatusRemarks"]</span> &nbsp;
                        </td>
                    </tr>
                    <tr style="height:50px; vertical-align:top">
                        @if (Model.Item2.SustainmentComments != null & Model.Item2.SustainmentComments != "")
                        {
                            <td colspan="3">
                                <p style="width: 30rem;">@Html.DisplayFor(model => model.Item2.SustainmentComments)</p>
                            </td>
                        }
                        else
                        {
                            <td colspan="3">@localizer["NA"]</td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <span style="font-weight:bold">@localizer["LastEditedBy"]</span> &nbsp; @Html.DisplayFor(model => model.Item1.LastEditUserNavigation!.UserName)
            </td>
        </tr>
    </table>
    <br /><br />
</div>
<div>
    @if (UserCanEdit != null && UserCanEdit == true)
    {
        <a asp-action="Edit"
           asp-route-id="@Model?.Item1.Id"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           asp-route-pageNumber="@ViewData["pageNumber"]"
           asp-route-selectedPageSize="@ViewData["selectedPageSize"]"
           asp-route-selectedOrganization="@ViewData["selectedOrganization"]"
           asp-route-selectedConPlan="@ViewData["selectedConPlan"]"
           asp-route-selectedOperation="@ViewData["selectedOperation"]"
           asp-route-selectedNato="@ViewData["selectedNato"]"
           asp-route-selectedStatus="@ViewData["selectedStatus"]"
           asp-route-selectedOverallStatus="@ViewData["selectedOverallStatus"]">
            @localizer["Edit"]
        </a> <label>|</label>
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["sortOrder"]"
       asp-route-pageNumber="@ViewData["pageNumber"]"
       asp-route-selectedPageSize="@ViewData["selectedPageSize"]"
       asp-route-selectedOrganization="@ViewData["selectedOrganization"]"
       asp-route-selectedConPlan="@ViewData["selectedConPlan"]"
       asp-route-selectedOperation="@ViewData["selectedOperation"]"
       asp-route-selectedNato="@ViewData["selectedNato"]"
       asp-route-selectedStatus="@ViewData["selectedStatus"]"
       asp-route-selectedOverallStatus="@ViewData["selectedOverallStatus"]">
        @localizer["BackToList"]
    </a>
</div>

<div id='kpiModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='kpiModalContent'></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/datacardkpimodal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let x = new Date($('#validityDateSpan').text());
            x = x.setDate(x.getDate() + 30);
            let y = new Date();
            if (x < y) {
                $(validityDateSpan).css("background-color", "#EA4C46");
            }
        });
    </script>
}
